<template>
<div id="app">
  <div class="sticky">
    <SiteHeader msg="Choose what you like" />
    <div>
      <Session :user="user" />
      <ShowRecommendationsButton
        @onRecommend="fetchRecommendations"
        :ready="likes.length >= 1"
        />
    </div>
  </div>
  <div class="body-content">
    <MovieGrid
      @onLike="handleLikes"
      :likes="likes"
      :initialMovies="recommendations"
      />
  </div>
</div>
</template>

<script>
import MovieGrid from './components/MovieGrid.vue';
import Session from './components/Session.vue';
import SiteHeader from './components/SiteHeader.vue';
import ShowRecommendationsButton from './components/ShowRecommendationsButton.vue';

export default {
  name: 'App',
  components: {
    MovieGrid,
    Session,
    SiteHeader,
    ShowRecommendationsButton,
  },
  data: () => ({
    likes: [],
    user: null,
    recommendations: [],
  }),
  created() {
    const { hash } = window.location;
    if (hash.indexOf('id_token') === 1) {
      const token = hash.slice(1).split('&').map((x) => x.split('=')[1])[0];
      fetch(`https://gctmmp3sc6.execute-api.us-east-1.amazonaws.com/prod/validateJWT?token=${token}`)
        .then((response) => response.json())
        .then((data) => {
          this.user = data;
          this.fetchLikes();
        });
    }
  },
  methods: {
    handleLikes(imdbid, liked) {
      if (liked) {
        this.likes.push(imdbid);
      } else {
        const index = this.likes.indexOf(imdbid);
        if (index > -1) {
          this.likes.splice(index, 1);
        }
      }
      this.saveLikes(this.likes);
    },
    async saveLikes(likes) {
      const l = JSON.stringify(likes);
      const rawResponse = await fetch(
        `https://gctmmp3sc6.execute-api.us-east-1.amazonaws.com/prod/saveUserLikes?email=${this.user.email}&likes=${l}`,
        {
          method: 'POST',
        },
      );

      await rawResponse.json();
    },
    fetchLikes() {
      fetch(`https://gctmmp3sc6.execute-api.us-east-1.amazonaws.com/prod/getUserLikes?email=${this.user.email}`)
        .then((response) => response.json())
        .then((data) => {
          this.likes = data;
        });
    },
    fetchRecommendations() {
      fetch(`https://gctmmp3sc6.execute-api.us-east-1.amazonaws.com/prod/getRecommendatios?email=${this.user.email}`)
        .then((response) => response.json())
        .then((data) => {
          Object.keys(data).map(
            (k) => { this.recommendations = this.recommendations.concat(data[k]); return true; },
          );
        });
    },
  },
};
</script>

<style>
#app {
  text-align: center;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.body-content {
  padding: 9em 0 0 0;
}
</style>
