<template>
  <div class="movie-grid">
  <div v-for="i in Math.ceil(getMovies().length / 4)" :key="i" class="row">
    <div
      v-for="movie in getMovies().slice((i - 1) * 4, i * 4)"
      :key="movie.imdbID"
      class="three columns"
      >
      <MoviePoster
        :movie=movie
        @onLike="handleLikes"
        :liked="likes.includes(movie.imdbID)" />
    </div>
  </div>
  </div>
</template>

<script>
import MoviePoster from './MoviePoster.vue';

export default {
  name: 'MovieGrid',
  components: {
    MoviePoster,
  },
  props: {
    likes: Array,
    initialMovies: Array,
  },
  data: () => ({
    movies: [],
  }),
  created() {
    const begin = 2020;
    for (let i = 0; i <= 20; i += 1) {
      fetch(`https://gctmmp3sc6.execute-api.us-east-1.amazonaws.com/prod/getPopularMovies?year=${begin - i}`)
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          this.movies = this.movies.concat(data);
        });
    }
  },
  methods: {
    getMovies() {
      if (this.initialMovies.length > 0) {
        return this.initialMovies;
      }
      return this.movies;
    },
    handleLikes(imdbid, liked) {
      this.$emit('onLike', imdbid, liked);
    },
  },
};
</script>

<style scoped>
.row {
  margin-bottom: 3%;
}
</style>
