<template>
  <span class="session">
    <a v-if="user == null" href="https://elrecroom.auth.us-east-1.amazoncognito.com
/login?response_type=token&client_id=5tsfj823aqjva4adnjqfb3k7oc
&redirect_uri=https://www.elrecroom.com/">
      Log in to save your recommendations.
    </a>

    <span v-if="user && user['cognito:username']">
      Welcome back {{user['cognito:username']}}
    </span>
  </span>
</template>

<script>
export default {
  name: 'Session',
  props: {
    user: Object,
  },
};
</script>

<style scoped>
.session {
  margin-right: 4px;
}

.session a {
  text-decoration: none;
}
</style>
