<template>
  <span v-if="!ready">Choose at least 1 to see recommendations</span>
  <a
    v-else
    class="button button-primary"
    @click="handleClick"
    >
    See recommendations
  </a>
</template>

<script>
export default {
  name: 'ShowRecommentationsButton',
  props: {
    ready: Boolean,
  },
  methods: {
    handleClick() {
      console.log('on recommend');
      this.$emit('onRecommend');
    },
  },
};
</script>

<style scoped>
.header {
  margin-top: 2em;
}
</style>
