<template>
<div class="header">
  <h2 class="title">{{ msg }}</h2>
</div>
</template>

<script>
export default {
  name: 'SiteHeader',
  props: {
    msg: String,
  },
};
</script>

<style scoped>
.header {
  margin-top: 1em;
  text-align: center;
}
</style>
